<?xml version="1.0" encoding="utf-8" ?>
<odoo>
  <template id="theme_requiez_header" name="Requiez Header" inherit_id="website.layout">
    <xpath expr="//header//div[hasclass('navbar-header')]" position="replace">
      <div class="navbar-header">
          <a href="/" class="navbar-brand logo">
              <span t-field="res_company.logo" t-options="{'widget': 'image'}" t-att-alt="'Logo of %s' % res_company.name" t-att-title="res_company.name"/>
          </a>
      </div>
      <div class="collapse navbar-collapse navbar-top-collapse">
          <ul class="nav navbar-nav navbar-right" id="top_menu">
              <li class="divider" t-ignore="true" t-if="not user_id._is_public()"/>
              <li class="dropdown" t-ignore="true" t-if="not user_id._is_public()">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <b>
                          <span t-esc="user_id.name[:23] + '...' if user_id.name and len(user_id.name) &gt; 25 else user_id.name"/>
                          <span class="caret"></span>
                      </b>
                  </a>
                  <ul class="dropdown-menu js_usermenu" role="menu">
                      <li id="o_logout"><a t-attf-href="/web/session/logout?redirect=/" role="menuitem">Logout</a></li>
                  </ul>
              </li>
          </ul>
      </div>
    </xpath>
  </template>
</odoo>