<?xml version="1.0" encoding="utf-8" ?>
<odoo>
  <template id="theme_requiez_header" name="Requiez Header" inherit_id="website.layout">
    <xpath expr="//header//div[hasclass('navbar-header')]" position="replace">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-top-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"/>
              <span class="icon-bar"/>
              <span class="icon-bar"/>
          </button>
          <a href="/" style="padding:0;">
            <span>  
              <img style="width: 172px; margin-top: 1px; " src="/theme_requiez/static/img/logo_grupo_requiez.png"/>
            </span>
          </a>
      </div>
    </xpath>
    <xpath expr="//header//ul[@id='top_menu']/li[hasclass('divider')]" position="attributes">
        <attribute name="t-if">website.user_id != user_id</attribute>
    </xpath>
    <xpath expr="//header//ul[@id='top_menu']/li[hasclass('dropdown')]" position="attributes">
        <attribute name="t-if">website.user_id != user_id</attribute>
    </xpath>
    <xpath expr="//header//ul[@id='top_menu']/li[hasclass('divider')]" position="replace">
    </xpath>
  </template>
</odoo>